.flexbox-container{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    height: 380px;
    background-color: darkgrey;
    float: bottom;
}
.flexbox-item{
    
    margin: 8px;
}
.item-1{
   width: 500px;
   text-align: center;
   border: 2px solid black; 
}
p{
    font-size: 20px;
}
.item-2{
    width: auto;
}
