<div class="flexbox-container">
    <div class="flexbox-item flexbox-item-1">
        <div class="card" style="width: 320px;">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img class="cinema" src="cinema.PNG" class="d-block w-100" height="300px" width="300px">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img class="sales"src="sales complete.PNG" class="d-block w-100" height="300px" width="300px">
                  </div>
                  <div class="carousel-item">
                    <img class="ticket"src="ticket.PNG" class="d-block w-100" height="300px" width="300px">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            <div class="card-body">
                <h4 class="cart-title">Movie Ticket Booking</h4>
                <p class="card-text">It is coded in Java language with MySql at the database. It can generate
                  unique id for every ticket booked.
                </p>
                <a href="https://github.com/jerryj12/movieticket">Source Code</a>
            </div>
        </div>
        
    </div>
    <div class="flexbox-item flexbox-item-2">
        <div class="card" style="width: 320px;">
            <div id="carousel2" class="carousel slide" data-bs-ride="carousel2">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img class="mini"src="mini mart.PNG" class="d-block w-100" height="300px" width="300px">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img class="reciptmart" src="reciptmart.PNG" class="d-block w-100" height="300px" width="300px">
                  </div>
                  <div class="carousel-item">
                    <img class="mart" src="martdb.JPG" class="d-block w-100" height="300px" width="300px">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            <div class="card-body">
                <h4 class="cart-title">Mini Mart</h4>
                <p class="card-text">It is a Mini mart's billing system. That generates the bill for
                  every grocery purchased</p>
                  <a href="https://github.com/jerryj12/mart/tree/master/JavaApplication14">Source Code</a>
            </div>
        </div>
    </div>
    <div class="flexbox-item flexbox-item-3">
        <div class="card" style="width: 320px;">
            <div id="carousel3" class="carousel slide" data-bs-ride="carousel3">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img class="todo" src="todo.JPG" class="d-block w-100" height="300px" width="300px">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img class="todoo" src="todoo.JPG" class="d-block w-100" height="300px" width="300px">
                  </div>
                  <div class="carousel-item">
                    <img class="tdo" src="tdo.JPG" class="d-block w-100" height="300px" width="300px">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel3" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel3" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            <div class="card-body">
                <h4 class="cart-title">Todo</h4>
                <p class="card-text">It is a simple todo website that can save,delete, mark and unmark your todos.</p>
                <a href="https://github.com/jerryj12/todo/tree/master/cwh-todo-list">Source Code</a>
            </div>
        </div>
    </div>
    <div class="flexbox-item flexbox-item-4">
        <div class="card" style="width: 320px;">
            <div id="carousel4" class="carousel slide" data-bs-ride="carousel4">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img class="coffee"src="coffee.JPG" class="d-block w-100" height="300px" width="300px">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img class="coffee1"src="coffee1.JPG" class="d-block w-100" height="300px" width="300px">
                  </div>
                  <div class="carousel-item">
                    <img class="coffee2"src="coffee2.JPG" class="d-block w-100" height="300px" width="300px">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel4" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel4" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            <div class="card-body">
                <h4 class="cart-title">Coffee shop </h4>
                <p class="card-text">A coffee shop website from where you can place order for your coffee according to
                  your mood.
                </p>
                <a href="https://github.com/jerryj12/coffeeshop">Source Code </a>
            </div>
        </div>
    </div>

</div>
<app-about></app-about>